@model IEnumerable<Proyecto_EDI.Models.Enfermos>

@{
    ViewBag.Title = "BusquedaPaciente";
}

<h2>BusquedaPaciente</h2>
    
@using (Html.BeginForm("BusquedaPaciente", "Enfermos", FormMethod.Get))
{
    <p>
        Buscar por nombre :@Html.TextBox("Nombre")
        <br />
        Buscar por apellido: @Html.TextBox("Apellido")
        <br />
        Buscar por DPI: @Html.TextBox("DPI")
        <br />
        <input type="submit" name="Value"value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Dpi
        </th>
        <th>
            Partida de nacimiento
        </th>
        <th>
            Departamento
        </th>
        <th>
            Municipio
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidaN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @if (item.Estado == "Sospechoso")
                {
                    @Html.ActionLink("Cambiar a Contagiado", "CambiarAContagiado", new { nombre = item.Nombre })
                }
                else if (item.Estado == "Contagiado")
                {
                    @Html.ActionLink("Cambiar a Recuperado", "CambiarAContagiado", new { nombre = item.Nombre })
                }
            </td>
        </tr>
    }
</table>
<input type="button"
       value="Terminar Búsqueda"
       onclick="location.href= '@Url.Action("Create", "Enfermos" )'" %>